@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    color: whitesmoke;
}

html {
    color-scheme: dark light;
}

body {
    min-height: 100vh;
}

img, picture, svg, video {
    display: block;
    max-width: 100%;
}

input, textarea, button, select {
    font: inherit;
}

body {
    background: rgb(47,47,47);
    width: 100vw;
    min-height: 100vh;
    background: url("png/background_resized.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow-x: hidden;
    font-family: 'Montserrat', sans-serif;
}

/*
SCROLLBAR
*/

::-webkit-scrollbar {
    width: 10px;
}

  ::-webkit-scrollbar-track {
    background: rgb(15, 15, 15);
}

  ::-webkit-scrollbar-thumb {
    background: rgba(0,0,0,0.4);
    border-radius: 20px;
}

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(0,0,0,0.6);
}

/*
HEADER
*/

header {
    display: flex;
    position: fixed;
    justify-content: right;
    align-items: center;
    width: 100vw;
    height: 10vh;
    background-color: rgba(255,255,255,0.05);
    color: whitesmoke;
    backdrop-filter: blur(2.5px);
    z-index: 1;
}

.header-title {
    font-family: 'Amatic SC', cursive;
    width: 100vw;
    font-size: 2.2rem;
    text-align: center;
    cursor: default;
    user-select: none;
    z-index: -1;
    position: relative;
}

/*
MAIN
*/

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100vw;
    height: auto;
}

.aside-img {
    width: 10vw;
    position: fixed;
    right: 2vw;
    bottom: 0;
    user-select: none;
    filter: grayscale(60%);
    transform: scaleX(-1);
}

/*
DESKTOP
*/

.desktop-files {
    position: absolute;
    left: 4vw;
    top: 16vh;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.desktop-file-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    cursor: pointer;
    filter: opacity(100%);
    transition: all .3s ease-in-out;
}

.desktop-file-container:hover {
    outline: 1px dotted rgba(255,255,255,0.5);
}

.desktop-file-container img {
    width: 45px;
}

.file-name {
    text-align: center;
}

/*
ABOUT ME WINDOW
*/

.about-section {
    background-color: rgba(255,255,255, 0.2);
    width: 70vw;
    height: auto;
    /* 10vh - header, 5vh - margin */
    margin: 15vh 0 0 0;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    padding: 80px 6vw 0px 6vw;
    display: flex;
    gap: 5vw;
    transform-origin: 0% 0%;
    transform: scale(0%);
    transition: all .3s ease-in-out;
}

.header-bar, .image-bar, .form-bar {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: left;
    align-items: center;
    border-radius: 19px 19px 0 0;
    width: 100%;
    height: 35px;
    padding: 0 0 0 15px;
    background-color: rgb(30, 30, 30);
}

.header-bar-btn, .image-bar-btn, .form-bar-btn {
    aspect-ratio: 1/1;
    width: 20px;
    margin: 0 5px;
    border-radius: 100%;
}

.header-bar-btn:first-child, .image-bar-btn, .form-bar-btn {
    background-color: #FF5D5B;
    border: 2px solid #CF544D;
    cursor: pointer;
}

.header-bar-btn:nth-child(2) {
    background-color: #FFBB39;
    border: 2px solid #CFA64E;
    cursor: pointer;
}

.header-bar-btn:last-child {
    background-color: #00CD4E;
    border: 2px solid #0EA642;
    cursor: pointer;
}

/*
ABOUT SECTION CONTENT (LEFT SIDE)
*/

.about-left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 0 5vh 0;
}

.about-heading {
    text-shadow: 0px 1px 4px rgba(0,0,0,0.8);
    font-size: 3rem;
    letter-spacing: 1px;
}

.about-text-section {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 35px;
}

.about-text {
    text-shadow: 0px 1px 4px rgba(0,0,0,0.8);
    font-size: 1.3rem;
}

.contact-btn {
    position: relative;
    display: flex;
    justify-content: center;
    aspect-ratio: 2/1;
    width: 185px;
    margin: 35px 0 0 0;
    font-weight: bold;
    background: transparent;
    border: 3px solid rgba(255,255,255, 0.9);
    border-radius: 10px;
    color: whitesmoke;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.contact-btn:hover {
    box-shadow: 0 4px 0 #fff;
    transform: translateY(-4px);
}

.contact-btn-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    position: relative;
}

.contact-btn-content::after {
    display: block;
    position: absolute;
    content: "";
    background-color: #fff;
    bottom: 14px;
    left: 50%;
    width: 0%;
    height: 3px;
    border-radius: 25px;
    transition: .15s ease-in-out;
}

.contact-btn-content:hover::after {
    left: 27%;
    width: 47%;
}

/*
ABOUT SECTION CONTENT (RIGHT SIDE)
*/

.about-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 350px;
    height: 350px;
    border: 2px solid rgba(30,30,30,0.7);
    background-color: rgba(30,30,30,0.3);
    border-radius: 25px;
    filter: opacity(0%);
    transform-origin: 100% 0%;
    transform: scale(0%);
    transition: all .3s ease-in-out;
}

.image-bar {
    top: -2px;
    left: -2px;
    width: 350px;
}

.image-container img {
    aspect-ratio: 1/1;
    width: 220px;
    height: 220px;
    user-select: none;
    filter: grayscale(50%);
    transform: translateY(-20px);
    animation: floating 7s ease-in-out infinite;
    z-index: -1;
}

/*
floating animation
*/

@keyframes floating {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0px);
    }
}

.image-icon-container {
    position: absolute;
    right: 3vw;
    top: 10vh;
    filter: opacity(100%);
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.image-icon-container img {
    width: 100px;
}

.image-icon-name {
    text-align: center;
}

.form-container {
    display: flex;
    position: absolute;
    top: 5vh;
    right: 5vw;
    width: 550px;
    height: 450px;
    border: 2px solid rgba(30,30,30,0.7);
    background-color: rgba(30,30,30,0.3);
    border-radius: 25px;
    padding: 5vh 3vh 3vh 3vh;
    transform-origin: 0% 100%;
    filter: opacity(0%);
    transform: scale(0%);
    transition: all .3s ease-in-out;
}

.form-bar {
    top: -2px;
    left: -2px;
    width: 550px;
}

.contact-form {
    width: 60%;
    height: 100%;
}

.form-input-div {
    margin: 0 0 1.5vh 0;
}

.form-input-div p {
    font-size: 1.2rem;
    margin: 0 0 .2vh 0;
}

.form-input-div input, .form-input-div textarea {
    color: rgb(255,255,255,.9);
    font-size: 1.1rem;
    width: 100%;
    height: 25px;
    border-radius: 2px;
    padding: 0 10px;
    background-color: transparent;
    outline: none;
    border-bottom: 2px solid rgba(0,0,0,0.7);
}

.form-input-div textarea {
    font-size: 1rem;
    resize: none;
    padding: 0;
    margin: 0;
    height: 100px;
}

.send-btn {
    color: black;
    font-size: 1.1rem;
    margin: 10px 0;
    padding: 10px 20px;
    font-weight: bold;
    background: transparent;
    border: 3px solid rgba(255,255,255, 0.9);
    border-radius: 10px;
    color: whitesmoke;
    cursor: pointer;
    transition: all .15s ease-in-out;
}

.send-btn:hover {
    box-shadow: 0 4px 0 #fff;
    transform: translateY(-4px);
}

.contact-links {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-links a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    padding: 10px;
}

.contact-links img {
    width: 65px;
}

.thank-you-section {
    display: flex;
    align-items: center;
}

.thank-you-text {
    margin: 25px;
    letter-spacing: 1px;
    font-size: 1.3rem;
    transform: scale(0%);
    filter: opacity(0%);
    transition: all .3s ease-in-out;
}

/*
PROJECTS
*/

.projects-section {
    position: absolute;
    top: 0;
    width: 70vw;
    height: auto;
    /* 10vh - header, 5vh - margin */
    margin: 15vh 0 0 0;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    padding: 80px 6vw;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    gap: 5vw;
    transform-origin: 0% 0%;
    transform: scale(0%);
    transition: all .3s ease-in-out;
}

.projects-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    width: 100%;
}

.projects-info {
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.55);
}

.projects {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.project-container {
    aspect-ratio: 1/1.5;    
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.project-title {
    font-size: 2rem;
}

.project-container img {
    aspect-ratio: 16/10;
    width: 300px;
}

/*
GAME
*/

.game-section {
    position: absolute;
    top: 0;
    width: 90vw;
    height: auto;
    /* 10vh - header, 5vh - margin */
    margin: 15vh 0 0 0;
    border-radius: 20px;
    backdrop-filter: blur(3px);
    padding: 80px 4vw;
    background-color: rgba(255,255,255, 0.2);
    display: flex;
    gap: 5vw;
    /* 
    transform-origin: 0% 0%;
    transform: scale(0%);
    */
    z-index: 1;
    transition: all .3s ease-in-out;
}

.game-content {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    gap: 1vw;
    padding: 0;
    width: 100%;
}

.game-statistics {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 1vw;
    height: 100%;
    width: 25vw;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0, 0.18);
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.4));
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.4);
}

.game-statistics p {
    font-size: 2rem;
    text-shadow: 0px 2px 4px rgba(0,0,0,1);
}

.game-window {
    position: relative;
    width: 28.646vw;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0, 0.18);
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.4));
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.4);
}

.game-window-header {
    display: flex;
    align-items: center;
    height: 9vh;
    margin: 0 0 0 1vw;
}

.game-title {
    text-align: left;
    font-size: 2rem;
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0,0,0,0.55);
}

.reset-game-button {
    position: absolute;
    right: 1vw;
    top: 1vh;
    width: 43%;
    height: 6vh;
    height: auto;
    border-radius: 15px;
    background-color: rgba(40, 40, 40, 0.3);
    border: 1px solid rgba(255,255,255,0.5);
    transition: all .2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    display: none;
}

.reset-game-button:hover {
    background-color: rgba(0,0,0, 0.4);
}

.reset-game-button.active {
    display:flex;
}

.reset-game-button p{
    display: inline-block;
    text-align: left;
    font-weight: bold;
    font-size: 1.6rem;
}

.reset-icon {
    font-size: 3rem;
    transition: all .3s ease-in-out;
}

.game-window hr {
    width: 100%;
    height: 1px;
    background-color: rgba(0,0,0, 0.5);
}

.game-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    width: 28.646vw;
    gap: 15px;
    padding: 20px;
}

.game-grid canvas {
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 20px;
}

.game-legend {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding: 0 1vw;
    width: 25vw;
    height: 100%;
    border-radius: 20px;
    border: 1px solid rgba(0,0,0, 0.18);
    background: linear-gradient(rgba(0,0,0, 0.6), rgba(0,0,0, 0.4));
    box-shadow: 0 8px 32px 0 rgba(0,0,0, 0.4);
}

.game-legend p {
    position: absolute;
    top: 2vh;
    font-size: 2rem;
    text-shadow: 0px 2px 3px rgba(0,0,0,1);
}

.legend-images, .legend-numbers {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 37.5%;
    height: 100%;
    margin: 3vh 0;
}

.legend-item {
    margin: .4vh 0;
}

.legend-item:first-child {
    padding: 0 100px;
}

.legend-numbers span:first-child {
    padding: 0 50px;
}

.legend-numbers span {
    display: flex;
    align-items: center;
    height: 49.84px;
    margin: 3.748px 0;
    font-size: 1.4rem;
}

.legend-item.any-planet {
    display: block;
    background: url(png/game_png/any-planet.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.uranus {
    display: block;
    background: url(png/game_png/uranus.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.neptune {
    display: block;
    background: url(png/game_png/neptune.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.saturn {
    display: block;
    background: url(png/game_png/saturn.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.venus {
    display: block;
    background: url(png/game_png/venus.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.jupiter {
    display: block;
    background: url(png/game_png/jupiter.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.mars {
    display: block;
    background: url(png/game_png/mars.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.earth {
    display: block;
    background: url(png/game_png/earth.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.legend-item.moon {
    display: block;
    background: url(png/game_png/moon.png);
    background-size: 50px;
    width: 91%;
    height: 50px;
}

.scratch-box {
    background-size: 65%;
    background-repeat: no-repeat;
    background-position: center;
}
/*
RESPONSYWNOŚĆ
*/

@media only screen and (max-width:1800px){
    .form-container {
        display: flex;
        flex-direction: column;
        height: auto;
        width: 40%;
    }
    
    .form-bar {
        width: 101%;
    }

    .contact-form {
        width: 100%;
    }

    .contact-links {
        display: flex;
        flex-direction: row;
        gap: 15px;
        margin: 10px 0 0 0;
    }
}

@media only screen and (max-width:950px){
    .contact-links {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 15px;
        margin: 10px 0 0 0;
    }
    
    .thank-you-section {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    
    .thank-you-text {
        margin: 0;
        padding: 0;
    }

    input[type="text"], input[type="email"], textarea {
        font-size: .9rem;
    }

    .contact-btn-content::after {
        bottom: 1.5vh;
    }
    
}

@media only screen and (max-width:900px){

    body {
        background-repeat: repeat-y;
    }

    .about-section {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    
    .about-left {
        margin: 0;
        width: 100%;
    }
    
    .form-container {
        position: static;
        width: 100%;
        display: flex;
        flex-direction: row;
        margin: 0 0 40px 0;
        transform-origin: 0% 0%;
    }

    .contact-form {
        width: 100%;
    }

    .contact-links {
        align-items: flex-end;
        width: 35%;
    }

    .about-right {
        width: 100%;
        position: relative;
    }

    .image-icon-container {
        top: -15vh;
    }

    .image-container {
        position: absolute;
        top: 0;
    }

    .about-section {
        width: 100vw;
        border-left: 0;
        border-right: 0;
        border-radius: 0;
    }

    aside {
        display: none;
    }

    .header-bar {
        border-radius: 0;
    }

    .header-bar-btn {
        border-radius: 100%;
    }
}


@media only screen and (max-width:700px){

    .form-container{
        display: flex;
        flex-direction: column;
    }

    .contact-links {
        display: flex;
        flex-direction: row;
    }
}